.MENU {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(254, 254, 254);
    font-weight: 600;
}






.CORONA_CHAIR {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 1;
}
.Printed_ {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(109, 109, 109);

    line-height: 1;
    font-weight: 400;
}

._14_86 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 27px;
    font-family: "Poppins";
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 1;
}

.NEW {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 30px;
    line-height: 1;
    color: white;
    transform:rotate(-50deg);
    -ms-transform:rotate(-50deg); /* IE 9 */
    -webkit-transform:rotate(-50deg); /* Opera, Chrome, and Safari */
}





.CALL_US_NOW {
    font-size: 25px;
    color: rgb(255, 206, 118);
    font-weight: 600;
    line-height: 1.2;
    -moz-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
    -webkit-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
    -ms-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
}

.Office_telephone, .Hotline {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.714;
}

.Hours_work {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 0.7;
    -moz-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
    -webkit-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
    -ms-transform: matrix(1.49047175806413, 0, 0, 1.51889268773988, 0, 0);
}

.Monday_Friday {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.714;
}

.Newsletter {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 0.7;
    -moz-transform: matrix( 1.49047175806413,0,0,1.51889268773988,0,0);
    -webkit-transform: matrix( 1.49047175806413,0,0,1.51889268773988,0,0);
    -ms-transform: matrix( 1.49047175806413,0,0,1.51889268773988,0,0);
}

.Sign_up_to_ {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.286;
}

.Enter_your_email___ {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.2;
}


.BlockTextCenter {
    font-size: 40px;
    color: rgb(24, 24, 23);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.475;
    margin-top: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.READ_MORE {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.BlockFromOurBlogArrayText1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;}
.BlockFromOurBlogArrayText2{
    font-size: 14px;
    color: rgba(49, 48, 45, 0.702);}

.OurDesignerFont {
    font-size: 30px;
    color: rgb(250, 250, 250);
    font-weight: 600;

}
