footer {

    width: 100%;
    background: #181817;
    margin: 0 auto;
    color: white;
}

.blockCenter {
    width: 33.333%;
}

.margPx{
    margin-bottom: 10px;
}

.leftLine {
    box-sizing: border-box;
    border-left-width: 4px; /* Толщина линии внизу */
    border-left-style: solid; /* Стиль линии внизу */
    border-left-color: #ffce76; /* Цвет линии внизу */
}

.blockFooter {
    display: flex;
    height: 440px;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}

.blockFooter1, .blockFooter2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}


.blockFooter11 {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.blockFooter11Text {
    margin: 10px 0 10px 20px;
}

.blockFooter21Elem {
    display: inline-block;
}

.socialImg {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.socialImg a img{
    width: 40px;
    height: 40px;
}

.footerInput{
    width: 85%;
    margin: 10px;
    padding: 15px;
    background: #181817;
    border: 1px solid #5e5e5d;
}

.input-group-btn {
    position: relative;
}

.arrow {
    position: absolute;
    left: -30px;
    top: 1px;
    background: #181817;
    color: #5e5e5d;
    font-size: 15px;
    border: none;
}



@media screen and (max-width: 830px) {



    .blockCenter{
        min-width: 276px;
        margin: 10px 0 10px 0;
    }


    .blockFooter1, .blockFooter2 {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0 10px 0;
    }

    .blockFooter {
        height: auto;
    }


}

