#FromOurBlog {
    max-width: 1200px;
    margin: auto;
}

.BlockFromOurBlogArray {
    padding: 75px 0 115px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BlockFromOurBlogArray1 {
    width: 372px;
    display: flex;
    flex-direction: column;
    background: #fefefe;
}

.BlockFromOurBlogArrayDown {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.BlockFromOurBlogArrayButton {
    background: #ffce76;
    font-size: 15px;
    border: none;
    width: 160px;
    height: 50px;
}

.BlockFromOurBlogArrayText {
    display: flex;
    flex-direction: column;
}

.BlockFromOurBlogArrayText1 {
    margin: 10px 0 0 0;
}

.BlockFromOurBlogArrayText2 {
    margin: 20px 0 20px 0;
}

@media screen and (max-width: 830px) {

    #FromOurBlog {
        padding: 0 2px 0 2px;
    }

    .BlockFromOurBlogArray {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .BlockFromOurBlogArrayImage {
        text-align: center;
    }

    .BlockFromOurBlogArray1 {
        width: auto;
    }


    .BlockFromOurBlogArray {
        padding: 25px 0 50px 0;
    }

}
